@import-normalize; /* bring in normalize.css styles */

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #212121;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  animation: increase 1s ease-in-out;
}
@keyframes increase {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  display: grid;
  grid-template-columns: 1fr;
}
.message {
  padding: 8px 16px;
  margin: 0 auto;
  color: white;
  max-width: 30vw;
  font-size: 16px;
  font-weight: 700;
  background-color: #3f51b5;
  border-radius: 7px;
}
.border {
  width: calc(100% - 40px);
  margin: 2px auto 20px auto;
  box-shadow: 0px 5px 10px rgb(64, 81, 181);
  border-bottom: 5px solid rgba(64, 81, 181, 0.4);
}
